#default-layout {
  @apply h-full;
  transition: $transition;

  @media (min-width: 1920px) {
    display: flex;
    justify-content: center;
  }
}

#layout-container {
  @apply relative w-full h-full bg-white overflow-hidden;
  min-height: 500px;
}

.page-enter-active,
.page-leave-active {
  transition: opacity .3s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}