/* purgecss start ignore */
img {
  user-select: none;
  -webkit-user-drag: none;
}

.light-shadow {
  box-shadow: $light-shadow;
}

.base-shadow {
  box-shadow: $base-shadow;
}

@each $size in sm,
md,
lg {
  .#{$size}-radius {
    border-radius: map-get($radius-map, $size);
  }
}

.transition {
  transition: $transition;
}

.bg-primary {
  background-color: rgba(var(--ns-primary), 1);
}

/* purgecss end ignore */