/* purgecss start ignore */

@font-face {
  font-family: BASE;
  src: url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'), local(Helvetica), local('PingFang SC'), local('思源黑体'), local('Microsoft YaHei');
}

html {
  width: 100vw;
  min-height: 100vh;
  font-family: BASE;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  @apply h-screen w-screen text-gray-700 overflow-hidden;
  font-size: 16px;

  #__nuxt,
  #__layout {
    @apply w-full h-full bg-white overflow-hidden;
  }
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

::selection {
  // color: white;
  background: lighten($primary, 35%);
  // background: rgba(var(--ns-primary), 0.8);
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
  background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  background-color: #F1F1F1 !important;
}

::-webkit-scrollbar-track-piece {
  background-color: #FFF !important;
}

@each $color in primary,
success,
warning,
danger,
dark {
  .#{$color} {
    color: map-get($color-map, $color);
  }

  .bg-#{$color} {
    background-color: rgba(var(--ns-#{$color}), 1);
  }
}

@each $size in sm,
md,
lg {
  .#{$size}-radius {
    border-radius: map-get($radius-map, $size);
  }
}

@each $type in light,
base,
heavy {
  .shadow-#{$type} {
    box-shadow: map-get($shadow-map, $type);
  }
}

.transition {
  transition: $transition;
}

/* purgecss end ignore */