/* purgecss start ignore */
:root {
  --ns-primary: 47, 88, 255;
}

$primary: rgba(var(--ns-primary), 1);
$radius: 0.8rem;
$shadow: 0 0 25px 10px rgba(90, 90, 90, 0.05);
$transition: all 0.3s;
/* purgecss end ignore */