/* purgecss start ignore */
#markdown-content {
  @apply text-gray-700;

  h1 {
    @apply my-6 text-4xl font-bold text-gray-800;
  }

  h2 {
    @apply my-5 text-2xl font-bold;
  }

  p {
    @apply my-3;
    line-height: 1.8rem;
  }

  a {
    color: $primary;
  }

  pre {
    margin: 1.2rem 0;
    border-radius: 1rem !important;
  }

  img {
    margin: 1rem .8rem !important;
    display: inline-block;
    border-radius: $radius;
    box-shadow: $shadow;
  }

  :not(pre)>code {
    margin: 0 .15rem;
    padding: .12em .24rem;
    border-radius: .4rem;
    color: #fff;
    background: #2E3440;
  }

  ::selection {
    background: rgba(255, 255, 255, 0.15);
  }
}

/* purgecss end ignore */