/* purgecss start ignore */

#markdown-content {
  @apply text-lg text-gray-700;

  h1 {
    @apply my-6 text-4xl font-bold text-gray-800;
  }

  h2 {
    @apply my-5 text-2xl font-bold;
  }

  p {
    @apply my-3;
    line-height: 1.8rem;
  }

  a {
    color: $primary;
    opacity: 0.75;
  }

  pre {
    margin: 1.2rem 0;
    border-radius: 1rem !important;
    overflow: auto;

    ::selection {
      color: inherit;
      background: rgba(var(--ns-primary), 0.06);
    }
  }

  img {
    margin: 1rem 0 !important;
    display: inline-block;
    border-radius: $lg-radius;
    box-shadow: $light-shadow;
  }

  blockquote {
    @apply pl-3;
    border-left: .25em solid #cbd5e0;
  }

  :not(pre)>code {
    padding: .12em .28rem;
    border-radius: .4rem;
    color: rgba(var(--ns-primary), 0.8);
    background: rgba(var(--ns-primary), 0.06);
  }
}

/* purgecss end ignore */